<html>
  <head>
    <title>Sins3</title>
  </head>
  <body>
    <div align="center">
      <a href="/status">Estados de CEPH</a>
      <a href="/listObject">Listar objetos</a>
      <a href="/fileUpload" >Subir objeto</a>
      <div align="center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
